@CHARSET "UTF-8";

html.panel-fit body{margin:0;font-family:Microsoft Yahei;font-size:12px;color:#6d6d6d;}
ul,ol{list-style:none;margin:0;padding:0;}
a{text-decoration:none;color:#6d6d6d;}
h1,h2,h3,h4,h5,h6,p,dl,dd{margin:0;font-weight:normal;}
table a{color:#3376B0;}
table tr td div{position:relative;}

input{outline:none;border:solid 1px #dfdfdf;}
/* input[type='text'],input[type='password']{border:solid 1px #dfdfdf;border-radius:2px;height:16px;line-height:16px;padding:3px 0 3px 5px;width:90px;} */
input.radio,input.checkbox{_border:none;_width:15px;}
textarea{width:300px;height:100px;}
select{border:solid 1px #dfdfdf;height:20px;line-height:20px;width:141px;border-radius:2px;}
textarea{background: none repeat scroll 0 0 #FFFFFF;border: 1px solid #dfdfdf;border-radius: 2px;color: #434A54;}
textarea:hover{border-color: #F84858;}


.left{float:left;}
.right{float:right;}
.center{text-align:center;}
.bold{font-weight:bold;}
.l{text-align:left;}
.r{text-align:right;}
.cl{clear:both;}
.bold{font-weight:bold;}
.clear:after{content: ".";display: block;height: 0;clear: both;visibility: hidden;}
.none{display:none;}
.mainWrap{margin: 0 auto;padding:0 20px;}

.btn{margin-right:3px;display: inline-block;color: #fff;font-size: 12px;margin-bottom: 5px;padding: 5px;border-radius: 2px;box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);min-width: 51px;}
.btn.yellow{background-color: #f0ad4e;}
.btn.green{background-color:#4caf50;}
.btn.red{background-color:#DD3939;}
.btn.none{display:none;}
.btn.blue{background-color:#4475CF;}
.btn-b{display: inline-block;margin-bottom:10px;padding: 8px;margin-bottom: 0;font-size: 14px;font-weight: normal;line-height: 1.42857143;text-align: center;white-space: nowrap;vertical-align: middle;cursor: pointer;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;background-image: none;border: 1px solid transparent;border-radius: 2px;color: #fff;background-color: #38b4ee;border-color:#38b4ee;box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);transition: 0.2s;margin-right:5px;font-family:'Microsoft Yahei';}
.btn-b:hover{box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);}
label.error,label.error02{margin-left:10px;border: solid 1px #ffbdbf;color: #e6393d;background-color: #ffebec;height: 16px;line-height: 16px;padding: 2px 1px;font-size: 12px;}
body .right-content table.list tr th{width:125px;}
body .right-content table.list tr th,.right-content table.list tr td{background:none;padding:8px;font-size:14px;border:none;text-align:left;vertical-align:top;}
body .right-content table.list tr:nth-child(odd) th,.right-content table.list tr:nth-child(odd) td{background:none;}

.shieldBg{position:fixed;top:0;left:0;z-index:99999;width:100%;height:100%;background:#000;opacity:0.2;}
.fm{
            margin:0;
            padding:10px 30px;
        }
        .ftitle{
            font-size:14px;
            font-weight:bold;
            color:#666;
            padding:5px 0;
            margin-bottom:10px;
            border-bottom:1px solid #ccc;
        }
        .fitem{
            margin-bottom:5px;
            position:relative;
        }
        .fitem label{
            display:inline-block;
            width:80px;
        }
label.error,label.error02{white-space: nowrap;color:Red;position:absolute;top:0;font-size:12px;left:220px;height:12px;background:#fff;border:none;color:red;line-height:12px;}